<div class="contact-wrap">
    <div class="contact-in">
        <img src="/imagenes/Logo.png" class="imagen">
        <h1 class="display-4 fw-bold">Atención al usuario</h1>
        <h2 class="display-4 fw-bold"><i class="fa fa-phone" aria-hidden="true"></i> Teléfono Medellín:</h2>
        <p class="display-4 fw-bold">(604) 4441333</p>
        <h2 class="display-4 fw-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Dirección:</h2>
        <p class="display-4 fw-bold">Calle 64 # 51 D - 154</p>
        <ul>
            <li><a href="https://www.facebook.com/sanvicentefundacion" target="_blank"><i class="fa fa-facebook"
                        aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/sanvicentefundacion/" target="_blank"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/sanvicentefund" target="_blank"><i class="fa fa-twitter"
                        aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/user/sanvicentefundacion" target="_blank"><i class="fa fa-youtube"
                        aria-hidden="true"></i></a></li>
            <li><a href="https://co.linkedin.com/company/sanvicentefundacion" target="_blank"><i class="fa fa-linkedin"
                        aria-hidden="true"></i></a></li>
        </ul> <br>

        <h2 class="display-4 fw-bold">PARA RECORDAR</h2>
        <p class="display-4 fw-bold">Al realizar este test estará aceptando el consentimiento de
            confidencialidad. Toda la información proporcionada no será divulgada.</p>
        <a href="/Historial" class="btn btn-outline-dark text-decoration-none">Historial</a>
    </div>