<%- include('../includes/head.ejs') %>

    <title>Test_1</title>

    <body>

        <div class="contact-wrap">
            <div class="contact-in">
                <img src="resources/imagenes/Logo.png" class="imagen">
                <h1 class="display-4 fw-bold">Atención al usuario</h1>
                <h2 class="display-4 fw-bold"><i class="fa fa-phone" aria-hidden="true"></i> Teléfono Medellín:</h2>
                <p class="display-4 fw-bold">(604) 4441333</p>
                <h2 class="display-4 fw-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Direccion:</h2>
                <p class="display-4 fw-bold">Calle 64 # 51 D - 154</p>
                <ul>
                    <li><a href="https://www.facebook.com/sanvicentefundacion" target="_blanck"><i
                                class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/sanvicentefundacion/" target="_blanck"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/sanvicentefund" target="_blanck"><i class="fa fa-twitter"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/user/sanvicentefundacion" target="_blanck"><i
                                class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://co.linkedin.com/company/sanvicentefundacion" target="_blanck"><i
                                class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul> <br>

                <h2 class="display-4 fw-bold">PARA RECORDAR</h2>

                <p class="display-4 fw-bold">Al realizar este test estará aceptando el consentimiento de
                    confidencialidad. Toda
                    la información proporcionada no será divulgada.</p>

                <a href="/Historial_Test1"
                    class="btn btn-outline-dark flex-grow-1 text-decoration-none volver">Historial</a>

            </div>

            <div class="contact-in">

                <div class="wrap">


                    <form name="miform1" id="miform1" method="POST" action="formulario1"
                        class="formulario needs-validation">

                        <h1 class="display-4 fw-bold">Test de Riesgo Alto</h1>

                        <div>


                            <input type="text" placeholder="Nombre completo" class="contact-in-input" name="nombre"
                                maxlength="50" minlength="3" autocomplete="off" ondblclick="sumar1()" required>

                            <input type="number" placeholder="Número de episodio" class="contact-in-input"
                                name="episodio" pattern="[0-9]+" maxlength="50" minlength="3" autocomplete="off"
                                ondblclick="sumar1()" required>

                        </div>

                        <div class="form-check-inline radio">

                            <li> 1. Niño(a)s y adolescentes (con código fucsia y maltrato o abandono, indigena): <br>
                                <ul>
                                    <input type="radio" name="pregunta1" value="1" id="Si1" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="Si1">Si</label>

                                    <input type="radio" name="pregunta1" value="0" id="No1" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="No1">No</label>
                                </ul>
                            </li>
                        </div>

                        <div class="form-check-inline radio">
                            <li> 2. Gestantes y puérperas (tóxicos, habitantes de calle, indígenas, clínica cardio
                                obstétrica y menores de 14 años): <br>
                                <ul>
                                    <input type="radio" name="pregunta2" value="1" id="Si2" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="Si2">Si</label>

                                    <input type="radio" name="pregunta2" value="0" id="No2" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="No2">No</label>
                                </ul>
                            </li>
                        </div>

                        <div class="form-check-inline radio">
                            <li> 3. Oncología y cuidado paliativo: <br>
                                <ul>
                                    <input type="radio" name="pregunta3" value="1" id="Si3" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="Si3">Si</label>

                                    <input type="radio" name="pregunta3" value="0" id="No3" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="No3">No</label>
                                </ul>
                            </li>
                        </div><br>

                        <div class="form-check-inline radio">
                            <li> 4. Quemados: <br>
                                <ul>
                                    <input type="radio" name="pregunta4" value="1" id="Si4" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="Si4">Si</label>

                                    <input type="radio" name="pregunta4" value="0" id="No4" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="No4">No</label>
                                </ul>
                            </li>
                        </div><br>

                        <div class="form-check-inline radio">
                            <li> 5. Cuidado crítico:  <br>
                                <ul>
                                    <input type="radio" name="pregunta5" value="1" id="Si5" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="Si5">Si</label>

                                    <input type="radio" name="pregunta5" value="0" id="No5" ondblclick="sumar1()"
                                        required autocomplete="off">
                                    <label for="No5">No</label>
                                </ul>
                            </li>
                        </div>

                        <div class="form-check-inline radio">
                            <li> 6. Pacientes con diagnóstico de patología mental establecido <br>
                                <ul>
                                    <input type="radio" name="pregunta6" value="1" id="Si6" onclick="sumar1()" required
                                        autocomplete="off">
                                    <label for="Si6">Si</label>

                                    <input type="radio" name="pregunta6" value="0" id="No6" onclick="sumar1()" required
                                        autocomplete="off">
                                    <label for="No6">No</label>
                                </ul>
                            </li>
                        </div>

                        <input type="submit" id="submitBtn" value="ENVIAR"
                            class="btn btn-outline-dark flex-grow-1 text-decoration-none volver">

                        <script>
                            let form = document.getElementById("miform1")
                            let btn = document.getElemntById("submitBtn").addEventListener('onclick', () => {
                                form.preventDefault();
                                suma1();
                                form.submit();
                            })
                        </script>
                    </form><br>

                    <script>

                        function sumar1() {

                            obj1 = document.miform1['pregunta1'];
                            obj2 = document.miform1['pregunta2'];
                            obj3 = document.miform1['pregunta3'];
                            obj4 = document.miform1['pregunta4'];
                            obj5 = document.miform1['pregunta5'];
                            obj6 = document.miform1['pregunta6'];


                            var totalChecks1 = obj1.length;
                            var totalChecks2 = obj2.length;
                            var totalChecks3 = obj3.length;
                            var totalChecks4 = obj4.length;
                            var totalChecks5 = obj5.length;
                            var totalChecks6 = obj6.length;

                            var totalSumado1 = 0;
                            var totalSumado2 = 0;
                            var totalSumado3 = 0;
                            var totalSumado4 = 0;
                            var totalSumado5 = 0;
                            var totalSumado6 = 0;


                            for (var i = 0; i < totalChecks1; i++) {
                                if (obj1[i].checked == true) {
                                    valor1 = obj1[i].value.split('-');
                                    totalSumado1 = totalSumado1 + parseInt(valor1[0], 10);
                                }
                            }

                            for (var i = 0; i < totalChecks2; i++) {
                                if (obj2[i].checked == true) {
                                    valor2 = obj2[i].value.split('-');
                                    totalSumado2 = totalSumado2 + parseInt(valor2[0], 10);
                                }
                            }

                            for (var i = 0; i < totalChecks3; i++) {
                                if (obj3[i].checked == true) {
                                    valor3 = obj3[i].value.split('-');
                                    totalSumado3 = totalSumado3 + parseInt(valor3[0], 10);
                                }
                            }

                            for (var i = 0; i < totalChecks4; i++) {
                                if (obj4[i].checked == true) {
                                    valor4 = obj4[i].value.split('-');
                                    totalSumado4 = totalSumado4 + parseInt(valor4[0], 10);
                                }
                            }

                            for (var i = 0; i < totalChecks5; i++) {
                                if (obj5[i].checked == true) {
                                    valor5 = obj5[i].value.split('-');
                                    totalSumado5 = totalSumado5 + parseInt(valor5[0], 10);
                                }
                            }

                            for (var i = 0; i < totalChecks6; i++) {
                                if (obj6[i].checked == true) {
                                    valor6 = obj6[i].value.split('-');
                                    totalSumado6 = totalSumado6 + parseInt(valor6[0], 10);
                                }
                            }

                            if (totalSumado1 === 1) {
                                window.alert("Riesgo alto: Psicológico/Social")
                            }
                            if (totalSumado2 === 1) {
                                window.alert("Riesgo alto: Psicológico/Social")
                            }
                            if (totalSumado3 === 1) {
                                window.alert("Riesgo alto: (Biológico/social/Psicológico)")
                            }
                            if (totalSumado4 === 1) {
                                window.alert("Riesgo alto: (Biológico/social/Psicológico)")
                            }
                            if (totalSumado5 === 1) {
                                window.alert("Riesgo alto: (Biológico/social/Psicológico)")
                            }
                            if (totalSumado6 === 1) {
                                window.alert("Riesgo alto: Psicológico/Social")
                            }
                        }
                    </script>
                </div>
            </div>


            <%- include('../includes/footer.ejs') %>