<%- include('../includes/head.ejs') %>

    <title>Test_2</title>

    <body>
        <div class="contact-wrap">
            <div class="contact-in">
                <img src="resources/imagenes/Logo.png" class="imagen">
                <h1 class="display-4 fw-bold">Atención al usuario</h1>
                <h2 class="display-4 fw-bold"><i class="fa fa-phone" aria-hidden="true"></i> Teléfono Medellín:</h2>
                <p>(604) 4441333</p>
                <h2 class="display-4 fw-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Direccion:</h2>
                <p>Calle 64 # 51 D - 154</p>
                <ul>
                    <li><a href="https://www.facebook.com/sanvicentefundacion" target="_blanck"><i
                                class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/sanvicentefundacion/" target="_blanck"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/sanvicentefund" target="_blanck"><i class="fa fa-twitter"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/user/sanvicentefundacion" target="_blanck"><i
                                class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://co.linkedin.com/company/sanvicentefundacion" target="_blanck"><i
                                class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul> <br>

                <h2 class="display-4 fw-bold">PARA RECORDAR</h2>

                <p class="display-4">Al realizar este test estará aceptando el consentimiento de confidencialidad. Toda
                    la información proporcionada no será divulgada.</p>

            </div>

            <div class="contact-in">

                <div class="wrap">

                    <h1 class="display-4 fw-bold">Test BioPsicoSocial</h1>

                    <!-- TEST PSICOLOGICO -->

                    <form name="formulario2" id="formulario2" method="POST" action="formulario2" class="formulario">

                        <div class="form-check-inline radio">

                            <li> 1. El paciente manifiesta ansiedad, ánimo deprimido o se le ha identificado alteración
                                comportamental: <br>
                                <ul>
                                    <input type="radio" name="pregunta7" value="2" id="Siempre1" ondblclick="sumar1()"
                                        required>
                                    <label for="Siempre1">Siempre</label>

                                    <input type="radio" name="pregunta7" value="1" id="Ocasional1" ondblclick="sumar1()"
                                        required>
                                    <label for="Ocasional1">Ocasional</label>

                                    <input type="radio" name="pregunta7" value="0" id="Nunca1" ondblclick="sumar1()"
                                        required>
                                    <label for="Nunca1">Nunca</label>
                                </ul>
                            </li>
                        </div>

                        <!-- TEST BIOLOGICO -->

                        <div class="form-check-inline radio">
                            <li> 2. El paciente es adherente a las indicaciones médicas y/o tratamiento de su
                                enfermedad:
                                <br>
                                <ul>
                                    <input type="radio" name="pregunta8" value="0" id="Siempre2" ondblclick="sumar1()"
                                        required>
                                    <label for="Siempre2">Siempre</label>

                                    <input type="radio" name="pregunta8" value="1" id="Ocasional2" ondblclick="sumar1()"
                                        required>
                                    <label for="Ocasional2">Ocasional</label>

                                    <input type="radio" name="pregunta8" value="2" id="Nunca2" ondblclick="sumar1()"
                                        required>
                                    <label for="Nunca2">Nunca</label>
                                </ul>
                            </li>
                        </div>

                        <div class="form-check-inline radio">
                            <li> 3. En el último año, las veces que ha estado enfermo ha requerido hospitalización: <br>
                                <ul>
                                    <input type="radio" name="pregunta9" value="2" id="Siempre3" ondblclick="sumar1()"
                                        required>
                                    <label for="Siempre3">Siempre</label>

                                    <input type="radio" name="pregunta9" value="1" id="Ocasional3" ondblclick="sumar1()"
                                        required>
                                    <label for="Ocasional3">Ocasional</label>

                                    <input type="radio" name="pregunta9" value="0" id="Nunca3" ondblclick="sumar1()"
                                        required>
                                    <label for="Nunca3">Nunca</label>
                                </ul>
                            </li>
                        </div>

                        <!-- TEST SOCIAL -->

                        <div class="form-check-inline radio">
                            <li> 4. Su asegurador le autoriza los tratamientos y seguimientos cuando los ha requerido:
                                <br>
                                <ul>
                                    <input type="radio" name="pregunta10" value="0" id="Siempre4" ondblclick="sumar1()"
                                        required>
                                    <label for="Siempre4">Siempre</label>

                                    <input type="radio" name="pregunta10" value="1" id="Ocasional4"
                                        ondblclick="sumar1()" required>
                                    <label for="Ocasional4">Ocasional</label>

                                    <input type="radio" name="pregunta10" value="2" id="Nunca4" ondblclick="sumar1()"
                                        required>
                                    <label for="Nunca4">Nunca</label>

                                </ul>
                            </li>
                        </div>

                        <div class="form-check-inline radio">
                            <li> 5. En caso de egreso hospitalario cuenta con un lugar de residencia y apoyo de
                                cuidador:
                                <br>
                                <ul>
                                    <input type="radio" name="pregunta11" value="0" id="Siempre5" ondblclick="sumar1()"
                                        required>
                                    <label for="Siempre5">Siempre</label>

                                    <input type="radio" name="pregunta11" value="1" id="Ocacional5"
                                        ondblclick="sumar1()" required>
                                    <label for="Ocacional5">Ocasional</label>

                                    <input type="radio" name="pregunta11" value="2" id="Nunca5" ondblclick="sumar1()"
                                        required>
                                    <label for="Nunca5">Nunca</label>

                                </ul>
                            </li>
                        </div>

                        <div class="form-check-inline radio">
                            <li> 6. El paciente cuenta con acompañante que brinde apoyo y cuidado durante el proceso de
                                hospitalización: <br>
                                <ul>
                                    <input type="radio" name="pregunta12" value="0" id="Siempre6" ondblclick="sumar1()"
                                        required>
                                    <label for="Siempre6">Siempre</label>

                                    <input type="radio" name="pregunta12" value="1" id="Ocasional6"
                                        ondblclick="sumar1()" required>
                                    <label for="Ocasional6">Ocasional</label>

                                    <input type="radio" name="pregunta12" value="2" id="Nunca6" ondblclick="sumar1()"
                                        required>
                                    <label for="Nunca6">Nunca</label>
                                </ul>
                            </li>
                        </div>

                        <input type="submit" value="ENVIAR" onclick="sumar1()"
                            class="btn btn-outline-dark flex-grow-1 text-decoration-none volver">

                    </form><br>

                    <a href="/Riesgo_alto" class="btn btn-outline-dark flex-grow-1 text-decoration-none volver">Volver
                        al test</a>

                </div>

                <script>

                    function sumar1() {

                        obj1 = document.formulario2['pregunta7'];
                        obj2 = document.formulario2['pregunta8'];
                        obj3 = document.formulario2['pregunta9'];
                        obj4 = document.formulario2['pregunta10'];
                        obj5 = document.formulario2['pregunta11'];
                        obj6 = document.formulario2['pregunta12'];

                        var totalChecks1 = obj1.length;
                        var totalChecks2 = obj2.length;
                        var totalChecks3 = obj3.length;
                        var totalChecks4 = obj4.length;
                        var totalChecks5 = obj5.length;
                        var totalChecks6 = obj6.length;

                        var totalSumado1 = 0;
                        var totalSumado2 = 0;
                        var totalSumado3 = 0;
                        var totalSumado4 = 0;
                        var totalSumado5 = 0;
                        var totalSumado6 = 0;

                        for (var i = 0; i < totalChecks1; i++) {
                            if (obj1[i].checked == true) {
                                valor1 = obj1[i].value.split('-');
                                totalSumado1 = totalSumado1 + parseInt(valor1[0], 10);
                            }
                        }

                        for (var i = 0; i < totalChecks2; i++) {
                            if (obj2[i].checked == true) {
                                valor2 = obj2[i].value.split('-');
                                totalSumado2 = totalSumado2 + parseInt(valor2[0], 10);
                            }
                        }

                        for (var i = 0; i < totalChecks3; i++) {
                            if (obj3[i].checked == true) {
                                valor3 = obj3[i].value.split('-');
                                totalSumado3 = totalSumado3 + parseInt(valor3[0], 10);
                            }
                        }

                        for (var i = 0; i < totalChecks4; i++) {
                            if (obj4[i].checked == true) {
                                valor4 = obj4[i].value.split('-');
                                totalSumado4 = totalSumado4 + parseInt(valor4[0], 10);
                            }
                        }

                        for (var i = 0; i < totalChecks5; i++) {
                            if (obj5[i].checked == true) {
                                valor5 = obj5[i].value.split('-');
                                totalSumado5 = totalSumado5 + parseInt(valor5[0], 10);
                            }
                        }

                        for (var i = 0; i < totalChecks6; i++) {
                            if (obj6[i].checked == true) {
                                valor6 = obj6[i].value.split('-');
                                totalSumado6 = totalSumado6 + parseInt(valor6[0], 10);
                            }
                        }

                        var suma1 = totalSumado2 + totalSumado3;

                        var suma2 = totalSumado4 + totalSumado5 + totalSumado6;

                        if (totalSumado1 >= 1) {
                            window.alert("Riesgo psicologico: ALTO");
                        } else {
                            window.alert("Riesgo psicologico: MEDIO");
                        }

                        if (suma1 >= 3) {
                            window.alert("Riesgo biologico: ALTO");
                        } else {
                            window.alert("Riesgo biologico: MEDIO");
                        }

                        if (suma2 >= 3) {
                            window.alert("Riesgo social: ALTO");
                        } else {
                            window.alert("Riesgo social: MEDIO");
                        }
                    }
                </script>

            </div>
        </div>

        <%- include('../includes/footer.ejs') %>